body {
    background-color:rgb(53, 53, 53);
}
#inicio:hover {
    background-color: red;
    cursor: pointer;
}
#produtos:hover {
    background-color: red;
    cursor: pointer;
}
#estadio:hover {
    background-color: red;
    cursor: pointer;
}
#historia:hover {
    background-color: red;
    cursor: pointer;
}
.search-query {
    background-color: red;
}
#spfc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: Red;
}